.svg_refeicoes{
    font-size: 25rem;
    color:unset;
}

.svg_bebida{
    font-size: 30rem;
    color:unset;
}

.img{
    margin-top: 2rem;
    width: 25rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 10px;
}